POSTGRES_DB=news_summarizer
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_PORT=5432

NEWS_FETCHING_PROVIDER=Rss
AI_PROVIDER=Yandex

TELEGRAM_BOT_TOKEN=

YANDEX_AI_API_KEY=
YANDEX_AI_FOLDER_ID=
YANDEX_AI_BASE_URL=https://ai.api.cloud.yandex.net/v1
YANDEX_AI_MODEL=yandexgpt/latest
YANDEX_AI_PROMPT_VERSION=v1